<div class="container-fluid" style="margin-top:5%;">

<%- include('head'); -%>
<%- include('menu'); -%>

<div class="container">

<div class="row">
  <div class="col-lg-3">
    <h2>Itens do carrinho</h2>
    <div class="card-footer">
        <small class="text-muted">Total a ser pago: <b>R$: 0.00</b></small>
     </div>
  </div>

  <div class="col-lg-9">
      <form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Nome do comprador</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
	    <small id="emailHelp" class="form-text text-muted">Informe o nome do comprador</small>
	  </div>

	  <div class="form-group">
	    <label for="exampleInputEmail1">Número de telefone</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefone">
	    <small id="emailHelp" class="form-text text-muted">Informe um número de telefone válido</small>
	  </div>



	  <div class="form-group">
	    <label for="exampleInputEmail1">Endereço de email</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
	    <small id="emailHelp" class="form-text text-muted">Insira algum endereço de e-mail válido para efetuar a compra</small>
	  </div>

	  <div class="form-group">
	    <label for="exampleInputPassword1">Senha</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
	  </div>

	  <div class="form-group">
	    <label for="exampleSelect1">Forma de pagamento</label>
	    <select class="form-control" id="exampleSelect1">
	      <option>Cartão de crédito</option>
	      <option>Boleto</option>
	      <option>Tranferencia bancária</option>
	    </select>
	  </div>

	  
	  <div class="form-group">
	    <label for="exampleTextarea">Informações adcionais ou observações</label>
	    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
	  </div>

	  <div class="form-check">
	    <label class="form-check-label">
	      <input type="checkbox" class="form-check-input">
	      Receber informações de promoções por emails.
	    </label>
	  </div>

	  <button type="button" class="btn btn-primary btn-lg btn-block">Confirmar compra</button>
	 </form>
  </div>
</div>

 
     
</div> 

<%- include('footer'); -%>